@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
.navbar-markbrough {
    background-color: #E74C3C;
    margin-bottom:0px;
    border-bottom:2px solid #666666;
}
.navbar-markbrough a {
    color: #ffffff;
}
.navbar-markbrough a:hover {
    color: #dddddd;
}
.frontpage-header-banner {
    background: #448822; /* 2980B9;*/
    color: #ffffff;
    padding: 40px 40px 20px 80px;
}
.frontpage-header-banner h1 {
    font-size: 100px;
    padding-top: 20px;
}
.frontpage-header-banner h2 {
    font-size:45px;
    padding-top:0px;
}
.frontpage-header-banner h1, .frontpage-header-banner h2 {
    font-family: "Yanone Kaffeesatz", sans-serif;
}
.frontpage-header-banner .container {
    /*background: #2980B9 url("../background.png") no-repeat right top;
    height:300px;*/
}
body {
    background-color: #ECF0F1;
    font-family: "Open Sans";
    font-size:25px;
}
.frontpage .container-body {
  padding-top:30px;
}
.contacts-box {
  font-size:16px;
}
.contacts-box a {
  color: #ffffff;
}
.contacts-box a:hover {
  color: #cccccc;
  text-decoration:none;
}
.container-header {
  border-bottom: 2px solid #ffffff;
}
/*

<li style="background: #2C3E50" title="#2C3E50"></li>
<li style="background: #E74C3C" title="#E74C3C"></li>
<li style="background: #ECF0F1" title="#ECF0F1"></li>
<li style="background: #3498DB" title="#3498DB"></li>
<li style="background: #2980B9" title="#2980B9"></li>

*/
