.navbar-markbrough {
    background-color: #E74C3C;
    margin-bottom:0px;
    border-bottom:2px solid #666666;
}
.navbar-markbrough a {
    color: #ffffff;
}
.navbar-markbrough a:hover {
    color: #dddddd;
}
.header-banner {
  padding: 5px;

}
.header-banner h1, .header-banner h2 {
    font-family: "Yanone Kaffeesatz", sans-serif;
}
.header-banner h1 {
  font-size: 50px;
}
.header-banner a {
  color: #ffffff;
  text-decoration: none;
}
.header-banner a:hover {
  text-decoration: underline;
}
.frontpage .header-banner {
  padding: 10px;
}
.frontpage .header-banner h1 {
    font-size: 100px;
    padding-top: 20px;
    line-height: 1;
}
.frontpage .header-banner h2 {
    font-size:45px;
    padding-top:0px;
}
body {
    background-color: #ECF0F1;
    font-family: "Open Sans";
}
.frontpage .container-body {
  padding-top:30px;
}
.projects .container-body {
  background-color: #ffffff;
  padding: 20px;
}
.projects .bg-success {
  background-color: #448822!important;
}
.projects .organisation {
  white-space: initial;
}
.frontpage .contacts-box {
  font-size:16px;
}
.contacts-box {
  margin: auto;
  font-size:16px;
}
.contacts-box a {
  color: #ffffff;
}
.contacts-box a:hover {
  color: #cccccc;
  text-decoration:none;
}
.container-header {
  background: #448822; /* 2980B9;*/
  color: #ffffff;
  padding: 20px 0px 20px 0px;
  border-bottom: 2px solid #ffffff;
}
.projects-container #projectCarousel {
  box-shadow: 0px 0px 6px #aaaaaa;
  margin-bottom: 20px;
}
.projects-container #projectCarousel .carousel-caption {
  background-color: rgba(128, 128, 128, .95) ;
  color: #ffffff;
  left: 0;
  right: 0;
  bottom: 2rem;
  padding: 1rem 0.75rem;
  text-shadow: 1px #000000;
}
.projects-container .card-header {
  box-shadow: 0px 2px 6px #aaaaaa;
}
.projects-container .card-img-top {
  transition: transform .2s; /* Animation */
}
.projects-container .card-img-top:hover {
  transform: scale(1.05)
}
/*
.work-container {
  clear:both;
  width:100%;
}
.work {
  width: 100%;
  padding: 12px;
  margin: 4px 4px 10px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  font-size: 16px;
}
.work h3 {
  margin-top: 10px;
  margin-bottom: 4px;
}
*/
.when {
  font-size: 14px;
  color: #666666;
}
.company {
  font-size: 16px;
  margin-bottom:0px;
}
.more-link {
  background-color: #ECF0F1;
  padding:2px;
  font-size:12px;
  border: 1px solid #dddddd;
  border-radius: 1px;
}
.frontpage footer {
  margin-top: 30px;
}
footer {
  background-color: #ffffff;
  padding: 20px;
  border-top: 1px solid #bbbbbb;
  font-size: 16px;
}
/*

<li style="background: #2C3E50" title="#2C3E50"></li>
<li style="background: #E74C3C" title="#E74C3C"></li>
<li style="background: #ECF0F1" title="#ECF0F1"></li>
<li style="background: #3498DB" title="#3498DB"></li>
<li style="background: #2980B9" title="#2980B9"></li>

*/
