<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link href="/css/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/style.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></sc\
ript>
    <![endif]-->
  </head>

  <body class="frontpage">

    <!--
    <nav class="navbar navbar-markbrough navbar-fixed-top">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".na\
  v-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="navbar-brand" href="#">{{ site.name }}</a>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav> -->
    <div class="container-header">
      <div class="container">
        <div class="row frontpage-header-banner">
          <div class="col-md-8">
            <h1>Mark Brough</h1>
          </div>
          <div class="col-md-4 contacts-box">
            <h3>Contact me</h3>
            <a href="mailto:mark@brough.io">
              <i class="fa fa-envelope-square fw"></i> mark@brough.io
            </a>
            <br />
            <a href="http://twitter.com/mark_brough">
              <i class="fa fa-twitter-square fw"></i> @mark_brough
            </a>
            <br />
            <a href="http://github.com/markbrough">
              <i class="fa fa-github-square fw"></i> github.com/markbrough
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-body">
