<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz" type='text/css'>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" type='text/css'>
    <link href="/css/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet" type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type='text/css'>
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body class="frontpage">
    <div class="container-header">
      <div class="container">
        <div class="row frontpage-header-banner">
          <div class="col-md-8">
            <h1>Mark Brough</h1>
          </div>
          <div class="col-md-4 contacts-box">
            <h3>Contact me</h3>
            <i class="fa fa-envelope-square fw"></i>
            <a href="mailto:mark@brough.io">mark@brough.io</a>
            <br />
            <i class="fa fa-twitter-square fw"></i>
            <a href="http://twitter.com/mark_brough">@mark_brough</a>
            <br />
            <i class="fa fa-github-square fw"></i>
            <a href="http://github.com/markbrough">github.com/markbrough</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-body">
